<template>
    <div>
        <hr v-if="messages.length">
        <message class="card mt-1" v-for="message in messages" :key="message.id" :message="message" />
    </div>
</template>

<script>
export default {
    async created() {
        let messages = await fetch('https://jsonplaceholder.typicode.com/comments')
            .then(response => response.json());
        this.$store.commit('setMessages', messages);
    },
    computed: {
        messages(){
            console.log(this.$store.state.messages);
            return this.$store.state.messages;
        }
    }
}
</script>