<template>
    <div class="card-body">
        <h2 class="card-title">{{message.email}}</h2>
        <p class="card-text">{{message.body}}</p>
    </div>
</template>

<script>
export default {
    props: ['message']
}
</script>

